.container 
{
    padding: 5% 10%;
}

.title 
{
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
}

.description 
{
    font-size: 1.1rem;
}

.img 
{
    float: right;
    width: 80%;
}

@media screen and (max-width: 580px)
{
    .img 
    {
        float: none;
        width: 100%;
        margin: auto;
    }

    .description 
    {
        font-size: 1rem;
    }
}