.container 
{
    padding: 5% 10%;
}

.title 
{
    text-align: left;
}

.description 
{
    font-size: 1rem;
}

.img 
{
    float: right;
    width: 60%;
}

@media screen and (max-width: 580px)
{
    .img 
    {
        float: none;
        width: 100%;
        margin: auto;
    }
}