.container
{
    background-color: rgb(4, 4, 41);
    padding: 7% 5%;
    padding-bottom: 0;
}

.container img 
{
    margin-top: -20px;
    margin-bottom: 20px;
}

.container h4 
{
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.container h6 
{
    color: #1890ff;
    margin: 0;
}

.container p 
{
    color: rgb(175, 175, 175);
    font-weight: 300;
    margin: 0;
}

.container svg 
{
    color: white;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.copyright 
{
    text-align: center;
    padding: 10px;
    padding-top: 8%;
}