.banner
{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
}

h1{
    font-size: 3rem;
    color: white !important;
    padding-top: 40vh !important;
}

.button
{
    margin-top: 0px;
    width: 170px;
    font-size: 18px;
    height: 50px;
    margin-top: -50px;
}

@media screen and (max-width: 580px) {
    h1
    {
        font-size: 2rem;
    }

    .button 
    {
        margin-top: 0px;
    }
}